table.reference td {
    line-height: 2em;
    min-width: 24px;
    border: 1px solid #d4d4d4;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top;
}
td.span2 {
}
tr td:first-child {
    min-width: 25px;
}
button, input, select, td, textarea, th {
    font-size: 13px;
}
a, abbr, address, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, label, legend, li, object, ol, p, pre, q, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, ul {
    border: 0;
    margin: 0;
    padding: 0;
}
user agent stylesheet
td, th {
    display: table-cell;
    vertical-align: inherit;
}
table.reference, table.tecspec {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 4px;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
body {
    margin: 0;
    font-size: 1.2em;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #f6f6f6 url(./assets/img/bg.gif) no-repeat;
    color: #333;
}